*{ 
    margin: 0;
    padding: 0;
}
/* banner deagin stard here */
.banner-continer{
    background-color:rgb(229, 84, 115, 0.10) ;
    display: flex;
    justify-content: center;
    padding: 40px 5px 0px 5px;
}
.banner-driscription{
    width: 50%;
    padding:70px 0px 70px 140px;
}
.banner-photo{ 
    width: 50%;
    text-align: center;
}
.banner-title{ 
    font-size: 45px;
    font-weight: 900px;
}
.banner-pera{ 
    color:rgba(39, 39, 39, 0, 0.60);
    font-size: 15px;
    margin-top: 20px;
}
.banner-img{ 
    width: 350px;
}
.bth{ 
    margin-top:20px;
    padding: 10px 20px;
    border: none;
    background-color: #e55473;
    color: white;
    border-radius: 5px;
    border: 1px solid #e55473;
    transition: all 1s;
    cursor: pointer;
}
.bth:hover{
    background: none;
    color: black;
}
/*banner deagin is end */
/* featured deagin is stard */
#around{ 
    width: 75%;
    margin: 70px auto;
}
.fea-flowe-card img{ 
    width: 160px;
    height: 200px;
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
}
.card-img-1{ 
    background-color: rgba(167, 33, 98, 0.15);
    padding: 40px 30px 0px 30px;
}
.card-img-2{ 
    background-color: rgba(5, 151, 160, 0.15);
    padding: 40px 30px 30px 30px;
    height: 173px !important;
}
.card-img-3{ 
    background-color: rgba(71, 125, 17, 0.15);
    padding: 40px 30px 0px 30px;
    
}
.fea-flowe-card{ 
    width: 250px;
    height: 300px;
}
.fea-flower-continer{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
}
.flower-name{ 
    text-align: center;
    margin-top: 15px;
    text-decoration: underline;
    padding-right: 20px;
}
.fea-title{ 
    font-size: 32px;
    text-align: center;
    margin-bottom: -10px;
}
.para{ 
    text-align: center;
    margin-bottom: 18px;
}
.sapport-continer{ 
    background-color: rgb(39, 39, 39,0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    margin: 40px 18px;
    width: 1500px;
    margin-left: 150px;
}
.sapport-img{ 
    width: 70px;
    text-align: center;
}
.sapport-para{ 
    font-family: 14px;
    text-align: center;
    margin: 10px;
}
.same{ 
    text-align: center;
    padding: 30px 10px;
}
.mid-continer{ 
    background-color:rgb(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    padding: 40px 5px 0px 5px;
    height: 290px;
}
.nid-drescription{ 
    width: 50%;
    padding: 70px 0px 70px 140px;
}
.mid-title{ 
    font-size: 30px;
    font-weight: 900px;
}
.mid-sp{ 
    color: #e55473;
}
.mid-para{ 
    margin-top: 20px;
    font-size: 15px;
}
.mid-photo{ 
    width: 50%;
    text-align: center;
}
.mid-img{ 
    width: 200px;
}
.galary-description{ 
    text-align: center;
    margin-top: 70px;
}
.galary-title{ 
    font-size: 35px;
    font-weight: bold;
}
.galary-para{ 
    margin-top: 20px;
    font-size: 15px;
    color: rgb(67, 68, 70);
}
.galary1{ 
   
    display: flex;
    justify-content: space-around;
    margin-top: 50px;  
    align-items: center;
    padding: 30px;
    
}
.galary-img{ 
    width: 200px;   
}
.sub-box{ 
    padding: 80px;
    background-image: url("Rectangle 9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 80px 0px;
    text-align: center;
    width: 1450px;
    margin-left: 150px;
   
}
.sub-title{ 
    font-size: 30px;
    font-weight: 700;
}
.sub-para{ 
    padding-top: 10px;
    color: rgb(58, 55, 55);
}
.form{ 
    margin-top: 20px;
}
.form>input{ 
    padding: 11px;
    border: none;
    width: 40%;
    border-radius: 8px;
}
.bth{ 
    margin-left: 20px;
}
/* contact section design starts from here  */


.contact-section{
    background-color: rgba(229, 84, 115, 0.05);
    padding: 50px 50px 0px 50px;
}
.contact-section-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    padding: 10px;
}
.contact-description{
    margin: 70px;
    width: 60%;
}
.social-links{
    display: flex;
    gap: 20px;
    color: #E55473;
    margin-top: 20px;
}
.icons{
    border-radius: 50%;
    border: 1px solid #E55473;
    color: white;
    background-color: #E55473;
    padding: 10px;
    transition: all .3s;
}
.icons:hover{
    background: none;
    color: black;
}
.contact-form{
    width: 60%;
}
.contact{
    display: block;
    padding: 5px;
}
#username , #email , #message{
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 7px;
    margin: 5px 0px;
    resize: none;
    box-shadow: 0px 0px 2px gray;
}
.center{
    text-align: center;
}
.featured-title{ 
    text-align: center;
    font-size: 35px;
}
.colored{ 
    color: #E55473;
}
/* contact design ends here  */
.footer{ 
    background-color: #111010;
    padding: 100px;
    text-align: center;
}
.footer-title{ 
    color: white;
    font-size: 35+PX;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px black;
    padding-bottom: 20px;
}
.clo{ 
    color: #e55473;
}
.footer-para{ 
    color: white;
    padding-bottom: 20px;
}
.para{ 
    color: gray;
}